<% content_for :page_title do %>
  <%= Spree.t(:settings, scope: :social) %>
<% end %>

<%= form_with(model: @social_setting, url: admin_social_settings_path, method: :put, local: true) do |form| %>
  <div data-hook="admin_social_method_form_fields">
    <legend><%= "Service Settings" %></legend>
    <div class="row">
      <div class="col-md-6" data-hook="social">
        <div class="form-check m-">
          <%= form.label :twitter_button do %>
            <%= form.check_box :twitter_button %>
            <%= "Twitter Button" %>
          <% end %>
        </div>

        <div class="form-check">
          <%= form.label :facebook_button do %>
            <%= form.check_box :facebook_button %>
            <%= "Facebook Button" %>
          <% end %>
        </div>

        <div class="form-check">
          <%= form.label :pinterest_button do %>
            <%= form.check_box :pinterest_button %>
            <%= "Pinterest Button" %>
          <% end %>
        </div>

        <div class="form-check">
          <%= form.label :delicious_button do %>
            <%= form.check_box :delicious_button %>
            <%= "Delicious Button" %>
          <% end %>
        </div>

        <div class="form-check">
          <%= form.label :reddit_button do %>
            <%= form.check_box :reddit_button %>
            <%= "reddit Button" %>
          <% end %>
        </div>

        <div class="form-check">
          <%= form.label :tumblr_button do %>
            <%= form.check_box :tumblr_button %>
            <%= "Tumblr Button" %>
          <% end %>
        </div>
      </div>

      <div class="col-md-6" data-hook="facebook">
        <legend> Facebook Settings </legend>
        <div class="form-check">
          <%= form.label :facebook_show_faces do %>
            <%= form.check_box :facebook_show_faces %>
            <%= "Show Faces Facebook" %>
          <% end %>
        </div>

        <div class="form-check mb-3">
          <%= form.label :facebook_send_button do %>
            <%= form.check_box :facebook_send_button %>
            <%= "Share Button" %>
          <% end %>
        </div>

        <div class="form-group ml-4">
          <%= form.label :facebook_app_id, 'Facebook App ID' %>
          <%= form.password_field :facebook_app_id, class: 'form-control mt-1', value: @social_setting.facebook_app_id %>
        </div>

        <div class="form-group ml-4">
          <%= form.label :facebook_layout, 'Button Type' %>
          <%= form.select :facebook_layout, Spree::SocialSetting.facebook_layouts, {}, class: 'select2 w-auto mt-1' %>
        </div>

        <div class="form-group ml-4">
          <%= form.label :facebook_verb_to_display, 'Verb to Display' %>
          <%= form.select :facebook_verb_to_display, Spree::SocialSetting.facebook_verbs, {}, class: 'select2 w-auto mt-1' %>
        </div>

        <div class="form-group ml-4">
          <%= form.label :facebook_color_scheme, 'Color Scheme' %>
          <%= form.select :facebook_color_scheme, Spree::SocialSetting.facebook_color_schemes, {}, class: 'select2 w-auto mt-1' %>
        </div>
      </div>

      <div class="col-md-6" data-hook="twitter">
        <legend> Twitter Settings </legend>
        <div class="form-group ml-4">
          <%= form.label :twitter_id, 'Twitter ID' %>
          <%= form.password_field :twitter_id, class: 'form-control mt-1', value: @social_setting.twitter_id %>
        </div>
      </div>
    </div>
    <div class="form-actions" data-hook="buttons">
      <%= form.button 'Update', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
