<% unless @social_setting.facebook_app_id.nil? %>
  <% content_for :head do %>
    <meta property="og:title" content="<%= @product.name %>" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="<%= spree.product_url(@product) %>" />
    <meta property="og:description" content="<%= @product.description %>" />
    <% @product.images.each do |img| %>
      <meta property="og:image" content="<%= absolute_image_url(main_app.rails_blob_path(img.attachment, only_path: true)) %>" />
    <% end %>
    <meta property="fb:app_id" content="<%= @social_setting.facebook_app_id %>" />
  <% end %>

  <div id="fb-root"></div>
  <a class="dropdown-item p-2 d-flex align-items-center border-bottom" href="https://www.facebook.com/sharer/sharer.php?u=<%= spree.product_url(@product) %>">
    <div class="flex items-center">
      <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_3476_3479)">
        <path d="M13 7C13 3.41017 10.0898 0.5 6.5 0.5C2.91017 0.5 0 3.41017 0 7C0 10.2443 2.37697 12.9334 5.48438 13.421V8.87891H3.83398V7H5.48438V5.56797C5.48438 3.93891 6.4548 3.03906 7.93955 3.03906C8.65069 3.03906 9.39453 3.16602 9.39453 3.16602V4.76562H8.57492C7.76745 4.76562 7.51562 5.26668 7.51562 5.78074V7H9.31836L9.03018 8.87891H7.51562V13.421C10.623 12.9334 13 10.2444 13 7Z" fill="#1877F2"/>
        <path d="M9.03018 8.87891L9.31836 7H7.51562V5.78074C7.51562 5.26663 7.76745 4.76562 8.57492 4.76562H9.39453V3.16602C9.39453 3.16602 8.65069 3.03906 7.9395 3.03906C6.4548 3.03906 5.48438 3.93891 5.48438 5.56797V7H3.83398V8.87891H5.48438V13.421C5.82035 13.4737 6.15992 13.5001 6.5 13.5C6.84008 13.5001 7.17965 13.4737 7.51562 13.421V8.87891H9.03018Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_3476_3479">
        <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
        </clipPath>
        </defs>
      </svg>
      <p class="d-inline font-weight-bold"><%= Spree.t(:facebook, scope: [:social, :buttons]) %></p>
    </div>
  </a>
<% end %>
