<% unless @social_setting.facebook_app_id.nil? %>
  <% content_for :head do %>
    <meta property="og:title" content="<%= @product.name %>" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="<%= spree.product_url(@product) %>" />
    <meta property="og:description" content="<%= @product.description %>" />
    <% @product.images.each do |img| %>
      <meta property="og:image" content="<%= absolute_image_url(main_app.rails_blob_path(img.attachment, only_path: true)) %>" />
    <% end %>
    <meta property="fb:app_id" content="<%= @social_setting.facebook_app_id %>" />
  <% end %>

  <div id="fb-root"></div>

  <div
    class="fb-like"
    data-send="<%= @social_setting.facebook_send_button %>"
    data-width="450"
    data-show-faces="<%= @social_setting.facebook_show_faces %>"
    data-layout="<%= @social_setting.facebook_layout %>"
    data-colorscheme="<%= @social_setting.facebook_color_scheme %>"
    data-action="<%= @social_setting.facebook_verb_to_display %>"></div>
<% end %>
